<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Menu Correction AVCO -->
    <menuitem
        id="menu_stock_avco_correction"
        name="Correction AVCO"
        parent="stock.menu_stock_warehouse_mgmt"
        action="action_stock_avco_import_wizard"
        sequence="98"
        groups="custom_pos.group_dsi_it"/>

    <!-- Menu Correction coûts/marges POS -->
    <menuitem
        id="menu_pos_margin_cost_correction"
        name="Correction coûts/marges POS"
        parent="stock.menu_stock_warehouse_mgmt"
        action="action_pos_margin_cost_wizard"
        sequence="99"
        groups="custom_pos.group_dsi_it"/>

</odoo>
