<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_custom_reports_root"
              name="Analyse et Rapports"
              parent="dashboard_management_administration.menu_demi_gros_root"
              sequence="2"/>

    <menuitem id="menu_reports_sale"
              name="Ventes et Clients"
              parent="menu_custom_reports_root"
              sequence="2"/>

    <menuitem id="menu_reports_purchase"
              name="Fournisseurs et Achats"
              parent="menu_custom_reports_root"
              sequence="3"/>

    <menuitem id="menu_reports_stock"
              name="Stock et Inventaire"
              parent="menu_custom_reports_root"
              sequence="4"/>

    <!-- ── Menu : Inventaire → Analyse et Rapports → Stock et Inventaire ── -->
    <menuitem
        id="menu_stock_avco_report_standalone"
        name="AVCO Justification"
        parent="menu_reports_stock"
        action="custom_stock.action_stock_avco_report_standalone"
        groups="custom_pos.group_dsi_it"
        sequence="50"/>
</odoo>